@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared style  */

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
 
}

.display-flex{
  display: flex;
}

.text-primary{
  color: #FF900E;
}

.bg-color{
  background-color: rgba(255, 144, 14, 0.1);
}

.primary-btn{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.navbar,.banner{
  max-width: 1440px;
  margin: 0 auto;
}
/* dark-02 */
.text-gray{
  color: #424242;
}

/* dark-03 */
.text-light-gray{
  color: #727272;
}

/* header section  */



/* nav related style */

.navbar{
  justify-content: space-between;
  align-items: center;
}
.brand{
  font-weight: 700;
  font-size: 2.83rem;
}
.nav-item{
  list-style: none;
  margin-right: 30px;

}
.nav-link{
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
}


/* banner style */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
}

.banner-image{
    width: 100%;
    justify-content: center;
}


/* main section */

main{
  max-width: 1440px ;
  margin: 0 auto;
}


main>section{
  margin-top: 130px;
}


/* team section  */

.teams {
 align-items: center;
}

.team-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}

.our-features{
  margin-left: 73px ;
  max-width: 537px;
  /* border: 1px solid red; */
  
}

.features-title{
  font-size: 45px ;
}

#quick-list{
  font-weight: 500;
}








/* some facts style  */

.facts-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.fact-card{
  border: 1px solid #FF900E;
  width: 240px;
  height: 240px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
}

.fact-icon{
  border-top: 45.92px;
}


.fact-number{
  font-weight: 600;
  font-size: 2.82rem ;
  margin-top: 10px;
  /* margin-bottom: 10px ; */
}

.fact-name{
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 5;
}